
/* make the customizations */

// $theme-colors: (
//   'success': tomato,
//   'danger': teal     //works
// );

//$success: #000000;    //also works

// // Create your own map
// $custom-colors: (
//   "custom-color": rgb(0, 153, 0)
// );
// // Merge the maps
// $theme-colors: map-merge($theme-colors, $custom-colors); //theme-colors not defined



//default variable overides
//$body-bg: #000000;        //works
//$dropdown-bg: #9b0101;

@import '../node_modules/bootstrap/scss/bootstrap';

//custom code

// // Create your own map
// $custom-colors: (
//   "custom-color": rgb(138, 255, 138)
// );
// // Merge the maps
// $theme-colors: map-merge($theme-colors, $custom-colors); //theme-colors not defined


.btn-lg{
    color: $white;
    background-color: $teal-200;
}
.btn-lg:focus{
    color: $white;
    background-color: $teal-200;
}
.dropdown-menu{
    color: $black;
    background-color: $teal-200;
    border-color: black;
    border-radius: 5px;
}
// .dropdown-item{
//     color: $black;
//     background-color: $teal-200;
// }